.card {
  width: 500px;
  border: 1px solid black;
  height: 100px;
  line-height: 15px;
}

h1 { 
  font-size: 20px;
  text-transform: uppercase;
}

h3 { 
  font-size: 15px;
  text-transform: uppercase;
  color: grey;
  font-weight: 300;
}

p {
  display: none;
}